
body
{
    background-color: #22396A;
    color: white; 
}

h2
{
    color: #31BB66;
}

a
{
    color:red;
}
header
{
    text-align: center;
}

footer
{
    text-align: center;
    background-color: #11244d;
}